/*header*/
.header {
  width: 100%;
  height: 102px;
  background: #1C1A19;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 27px;
}

.nav {
  margin-right: 50px;
}

.nav__list {
  display: flex;
  margin-right: 50px;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.nav__btn {
  cursor: pointer;
  font-size: 21px;
}

.nav__btn:hover {
  color: #FDBF5A;
}

/*wrapper section*/
main {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.login-section {
  background: url("./img/background_map.png") center center/cover no-repeat;
  height: 100%;
}

.section {
  display: flex;
  height: 100%;
  width: 100%;
  background: url("./img/background_map.png") center center/cover no-repeat;
}

.left-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 495px;
  background: #1C1A19;
  position: absolute;
  height: 100%;
}

.section__map {
  background-size: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/*Login*/

.form-login {
  color: #1C1A19;
  width: 580px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 40px;
  margin-left: 47%;
  margin-top: 15%;
}

.form-login h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input {
  border: none;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 25px;
  width: 335px;
}

.input-error {
  border-bottom: 1px solid red;
}

.form span {
  font-size: 16px;
  color: #828282;
  text-align: right;
  margin-bottom: 50px;
  cursor: pointer;
}

#enter {
  width: 350px;
  height: 60px;
  background: #FDBF5A;
  border-radius: 70px;
  font-size: 25px;
  border: 1px solid transparent;
  cursor: pointer;
}

#enter:active {
  border: 1px solid black;
}

.new-user{
color: #828282;
}

.new-user span {
  color: #FDBF5A;
  margin-left: 5px;
  font-size: 16px;
  cursor: pointer;
}

/*profile*/
.profile {
  color: #1C1A19;
}

/*map*/
.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
